/* search-form */
.search {
  position: relative;
  display: flex;
  align-items: center;
  margin: 70px;
  padding: 20px 19px;
  border-radius: 9px;
  justify-content: space-between;
  background-color: #272727;
}

.search:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #E8E8E8;
  transform: translateY(70px);
}

.search__form {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  flex: 1;
  justify-content: space-between;
  padding-right: 60px;
}

.search__form:after {
  position: absolute;
  content: "";
  height: 40px;
  width: 1px;
  right: 30px;
  background: #E8E8E8;
}

.search__form:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 34px;
  left: 0;
  background-image: url(../../images/icon.svg);
  background-repeat: no-repeat;
}

.search__form-input {
  background-color: transparent;
  border: none;
  margin-left: 42px;
  width: 100%;
  outline: none;
  color: white;
  font-size: 18px;
}

.search__form-input:focus {
  border-bottom: 1px solid #2BE080;
}

.search__submit {
  background: #2BE080;
  border: none;
  border-radius: 50%;
  max-width: 34px;
  width: 100%;
  height: 34px;
  cursor: pointer;
  background-image: url(../../images/button-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  text-decoration: none;
  color: white;
  transition: opacity 0.6s;
}

@media (max-width: 768px) {
  .search {
    margin: 79px 30px;
    padding: 20px;
  }
  .search__form {
    padding-right: 38px;
  }
  .search__form:after {
    right: 19px;
  }
  .search:after {
    transform: translateY(109px);
  }
}

@media (max-width: 640px) {
  .search {
    position: relative;
  }
  .search__form:after {
    height: 0;
  }
  .search__form {
    padding: 0;
  }
  .search__form::before {
    width: 0;
  }
  .search__form-input {
    margin: 0;
  }
}

@media (max-width: 375px) {
  .search {
    margin: 78px 10px;
  }
  .search__form-input {
    font-size: 13px;
  }
}
